
body{
	background-color: lightblue;
}
#left{
	width: 50%;
	border: 2px solid black;
	display: inline-block;
}

#right{
	height: 100%;
	width: 100%;
	border: 2px solid black;
	display: inline-block;
}

.row{
	display: inline-flex;

}

#blog-post{
	text-align: center;
}



@media only screen and (max-width: 1024px) {

	html{background-color: green;}
}

@media only screen and (max-width: 320px) {

	html{background-color: blue;}
	}
}
